version: "3.8"

services:
  php-apache:
    container_name: php-apache
    build:
      context: ./config/php-apache
    image: php-apache
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./src:/var/www/html/
      - ./config/php-apache/httpd.conf:/etc/apache2/sites-available/000-default.conf
      - ./config/certs:/etc/apache2/certs
      - ./logs:/var/log/apache2

  mysql:
    container_name: mysql
    image: mysql:8.0
    restart: unless-stopped
    user: mysql
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./.docker/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - TZ=Europe/Paris

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      - PMA_ARBITRARY=1
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - PMA_HOST=mysql
      - TZ=Europe/Paris
    depends_on:
      - mysql

networks:
  app-local:
