version: "3.8"

services:
  nginx:
    container_name: nginx
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./logs:/var/log/nginx:rw
      - ./config/certs:/etc/nginx/certs
    depends_on:
      - php
      - mysql

  php:
    container_name: php
    build:
      context: ./config/php
      dockerfile: Dockerfile
    image: php
    restart: unless-stopped
    expose:
      - "9000"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - mysql

  mysql:
    container_name: mysql
    image: mysql:8.0
    restart: unless-stopped
    user: mysql
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./.docker/mysql:/var/lib/mysql
    env_file: ./src/.env
    environment:
      - TZ=Europe/Paris

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    env_file: ./src/.env
    environment:
      - PMA_HOST=mysql
      - TZ=Europe/Paris
    depends_on:
      - mysql

networks:
  app-local:
